---
import Layout from '../layouts/Layout.astro';
import HotelBooking from '../components/vue/HotelBooking.vue';
---

<Layout title="Hotel Sol - Your Ideal Retreat | Luxury Spa Resort">
  <main>
    <HotelBooking client:load />
  </main>
</Layout>