---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/vue/LoginForm.vue';
---

<Layout title="Iniciar Sesión - Hotel Sol">
  <main>
    <LoginForm client:load />
  </main>
</Layout>