---
import Layout from '../layouts/Layout.astro';
import ProtectedRegisterWrapper from '../components/vue/ProtectedRegisterWrapper.vue';
---

<Layout title="Registro - Hotel Sol">
  <main>
    <ProtectedRegisterWrapper client:load />
  </main>
</Layout>