---
import Layout from '../../layouts/Layout.astro';
import RegisterForm from '../../components/vue/RegisterForm.vue';
---

<Layout title="Crear Nuevo Empleado - Hotel Sol">
  <main>
    <RegisterForm client:load />
  </main>
</Layout>

