---
import Layout from '../../layouts/Layout.astro';
import EmployeeManagement from '../../components/vue/EmployeeManagement.vue';
---

<Layout title="Gestión de Empleados - Hotel Sol">
  <main>
    <EmployeeManagement client:load />
  </main>
</Layout>