---
import Layout from '../../layouts/Layout.astro';
import ReportsManagement from '../../components/vue/ReportsManagement.vue';
---

<Layout title="Informes y Reportes - Hotel Management">
  <main>
    <ReportsManagement client:load />
  </main>
</Layout>